/* color variables */

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --lightskyblue: lightskyblue;
    --header-footer-background-color: #404040;
    --about-me-work-border: #333366;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8); 
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;   
    background: url("../images/subtle_background.jpeg")
  }

  /* HEADER / NAV BAR STYLES START */
header {
    background-color:var(--header-footer-background-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    top: 0;
    width: 100%;  
  }
  
header h1 {
    font-weight: bold;
    font-size: 36px;
    flex: 1 40%;
    padding-left: 10px;
    text-align: center;   
  }
  
header a { 
    text-decoration: underline;
    color: var(--lightskyblue);   
  }
  
header nav {
    display: flex;
    flex: 2 50%;
    margin-bottom: 15px;
  }
  
header nav ul {
  display: flex;
  align-items: flex-end;
  list-style: none;
  width: 100%
} 


header nav ul li {
  flex: 1 100%; 
}
  
header nav ul li a {
  font-weight: lighter;
  font-size: 1.55vw;   
  padding-left: 50px;
}
  
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
} 

/* HEADER / NAVBAR STYLES END */
/* hero section that holds picture and title for the candidate */

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
} 

.hero {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/ggb-night-time.jpeg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center -250px;    
}

.hero .picture, .picture img{
    max-width: 250px;
    border-radius: 20px;
    margin-left: 20px;
}

/* Styling to the subtitle the Hero container */
.subtitle { 
  padding-right: 15px;
  padding-top: 5%;
  opacity: .95;
  font-size: 30px;
}

/* Apply background to any span with this class name */
.span-background { 
  background-color: var(--lightskyblue);
  position: relative;
  z-index: 999;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px; 
  opacity: .95;
}

/* Styling the about me container */
.aboutme {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;     
}

/* styling the about me title on the left pane of the screen */
.aboutme-title{ 
  font-size: 30px;
  flex: 0 0 250px;
  padding: 20px;
  text-align: right;
  margin-bottom: 30px;
  border-right: 2px solid var(--about-me-work-border);
}

/* styling the about me content of the candidate */
.aboutme .aboutme-desc p {
  width: 80%;
  font-size: 15px;
  padding: 20px 10px 20px;
  margin-left: 55px; 
}

/* styling the project section */
.work-container {
  display: flex;
}

.work-title {
  display: flex;
  flex-direction: row;
  padding: 20px, 0;
  flex: 0 0 250px;
}

.work-container img{
  width: 100%;   
}

.work-container .projects {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.work-container .projects > a {
  position: relative;
  width: 50%;
  padding: 20px;
  padding-left: 10px;    
}

.work-subcontainer {
  padding-left: 55px;
}

/* styling the title of the container */
.work-title p {
  flex: 0 0 250px;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: right;
  border-right: 2px solid var(--about-me-work-border); 
}

/* styling for the name of the project shown on each project image */
.first-text {
  position: absolute;
  top: 90%;
  right: 79%;
  font-size: 30px;
  font-weight: bold;   
}

/* styling for the smaller text that lists what was used to build the project */
.smallimg-first-text {
  position: absolute;
  left: 20px;
  top: 70%;
  font-size: 20px;
  font-weight: bold;  
}

/* styling to span background for both texts in the image */
.span-background.second-text {
  position: absolute;
  line-height: 1;  
}

.second-text {
  font-size: 15px;
}

/* contact-me styling begin */
.contact {
  display: flex;
}

.contact p {
  padding-top: 30px;
  flex: 0 0 250px;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 55px;
  text-align: right;
  border-right: 2px solid var(--about-me-work-border); 
}

.contact-list > ul {
  display: flex;
  margin:20px;
  align-content: center;
  list-style: none;
  width: 100%
}

.contact-list > ul > li {
  flex: 1 100%;
}

.contact-list ul li a {
  font-weight: lighter;
  font-size: 1.55vw;  
  width: 100%;
  padding-left: 60px;
}

/* media queries styling */
/* modify the layout for ipad-sized screens */
@media screen and (min-width: 768px) {
  header nav ul li {
    flex-direction: row;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  .first-text {
    top: 85%;
    right: 75%;
    font-size: 20px
  }

  .second-text {
    font-size: 10px;
  }

  .smallimg-first-text {
    top: 70%;
    font-size: 15px;
  }

  header nav ul li a {
    font-size: 1vw;
  }
}

@media screen and (max-width: 768px) {
  header nav ul li{
    flex-direction: row;
  }

  header nav ul li a {
    font-size: 1.55vw;
  }

  .hero {
    margin-bottom: 0px;
  }
  .hero .picture, .picture img {
    margin-left: 5px;
  }

  .flex-container {
    width: auto;
    margin-left: 0;
  }
  .aboutme{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    display: block;
  }

  .aboutme-title{
    border-bottom: 2px solid var(--about-me-work-border);
    flex-basis: 100%;
    text-align: center;
    border-right: none;
    margin-bottom: 0px;
  }

  .work-container{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
  }

  .work-container > div {
    flex-basis: 100%;
    text-align: center;
    border-right: none;    
  }

  .work-title p {
    margin-bottom: 0px;
    text-align: center;
    flex-basis: 100%;
  }

  .work-container > div > p {
    border-right: none;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--about-me-work-border);
  }

  .work-subcontainer {
    padding-left: 0;
  }

  .first-text {
    top: 85%;
    right: 75%;
    font-size: 10px;
  }

  .second-text {
    font-size: 5px;
  }

  .smallimg-first-text {
    top: 55%;
    font-size: 10px;
  }

  .contact{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    display: block;
  }
  
  .contact p{
    flex-basis: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .contact > div > p {
    border-right: none;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--about-me-work-border);
  }

  .contact-list ul li a{
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  flex-basis: 100%;
  font-size: 1.55vw;
  padding-left: 5px;
  }
}

@media screen and (max-width: 480px) {
  .subtitle {
    font-size: 20px;
    margin:   10px;
  }

  .hero .picture, .picture img {
    max-width: 200px;
    margin-left: auto;
  }

  header h1 {
    font-size: 30px;
    margin-left: 35px;
    padding-right:10px;
  }

  .span-background {
    padding-left: 0px;
    background-color: transparent;
  }

  header nav ul li a {
    padding-left: 40px;
  }
}


  
