/* color variables */

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --lightskyblue: lightskyblue;
    --header-footer-background-color: #404040;
    --about-me-work-border: #333366;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8); 
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;   
    background: url("../images/subtle_background.jpeg")
  }

  /* HEADER / NAV BAR STYLES START */
header {
    background-color:var(--header-footer-background-color);
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    align-items: flex-end;
  }
  
header h1 {
    font-weight: bold;
    font-size: 36px;
    flex: 1 40%;
    align-self: flex-start;
    padding-left: 10px;
    text-align: center;   
  }
  
header a {
    
    text-decoration: underline;
    color: var(--lightskyblue); 
  
  }
  
header nav {
    margin: 7px 0;
    display: flex;
    flex: 2 50%;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  header nav ul {
    display: flex;
    margin:0;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    width: 100%
  }

  header nav ul li {
    flex: 1 100%;
  
  }
  
  header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    
    width: 100%;
    padding-left: 50px;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  } 

  /* HEADER / NAVBAR STYLES END */
  /* hero section that holds picture and title for the candidate */


main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
} 

.hero {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: flext-start;
    background-image: url(../images/ggb-night-time.jpeg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center -250px;
    
}
.hero .picture, .picture img{
    max-width: 250px;
    border-radius: 20px;
    margin-left: 20px;
}

/* Styling to the subtitle the Hero container */
.subtitle { 
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 5%;
  opacity: .95;
  font-size: 30px;
}

/* Apply background to any span with this class name */
.span-background { 
  background-color: var(--lightskyblue);
  position: relative;
  z-index: 999;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px; 
  opacity: .95;
}

/* Styling the about me container */

.aboutme {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  
  padding: 20px;     
}

/* styling the about me title on the left pane of the screen */
.aboutme-title{ 
  padding-top: 30px;
  font-size: 35px;
  flex: 0 0 250px;
  padding: 20px;
  text-align: right;
  margin-bottom: 30px;
  border-right: 2px solid var(--about-me-work-border);

}

/* styling the about me content of the candidate */
.aboutme .aboutme-desc p {
  width: 80%;
  font-size: 15px;
  padding: 20px 5px;
  margin-left: 55px; 
}

/* styling the project section */

  .work-title {
    display: flex;
    flex-direction: row;   
    padding: 20px, 0;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    position: relative; 
    margin-top: 15px;
    margin-left: 80px;
  }

  /* styling the title of the container */
  .work-title p {
    padding-top: 30px;
    flex: 0 0 250px;
    font-size: 35px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border); 
  }

 /* flex child */
 .flex-container .projects {
  /* make each one 35%, putting 10px between each element on the page */
  width: calc(35% - 10px);
  margin:5px;
  border: 3px solid aquamarine;
  border-radius: 5px;
  /*background-position: center;*/
  background-size: cover;
  /* set minimum height value so there's room */
  min-height: 200px;
  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 40%; 
 }

.projects:nth-child(1) {
  /* this is for the bigger image of the 1st project */
  width: 80%; 
}

/* styling for the name of the project shown on each project image */
.first-text {
  position: absolute;
  top: 80%;
  font-size: 30px;
  font-weight: bold;   
}

/* styling for the smaller text that lists what was used to build the project */
.smallimg-first-text {
  position: absolute;
  top: 70%;
  font-size: 20px;
  font-weight: bold;  
}

/* styling to span background for both texts in the image */
.span-background.second-text {
  position: absolute;
  line-height: 1;  
}

.second-text {
  font-size: 15px;
}

/* contact-me styling begin */
.contact-container {
  height: 100%; 
  display: flex;   
}
.contact{ /* Cell declarations for the title of the container */
  padding-top: 15px;
  font-size: 35px;
  flex: 0 0 250px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: right;
  margin-bottom: 30px;
  margin-top: 30px;
  border-right: 2px solid var(--about-me-work-border);
}

.contact-list{
  padding-left: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5vw;
  width: 100%;
  align-content: center;
}

.tel{
  text-decoration: underline;
}

/* media queries styling */

/* Width at 1024px and below */

/* modify the layout for ipad-sized screens */
@media screen and (min-width: 768px) {
  header nav ul li {
    border: none;
    
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
 
}

@media screen and (max-width: 575px) {
  header nav ul li{
    flex-direction: row;
  }
  .aboutme{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    display: block;
  }

  .aboutme-title{
    border-bottom: 2px solid var(--about-me-work-border);
    flex-basis: 100%;
    text-align: center;
    border-right: none;
  }

  .work-title{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px;
  }

  .work-title p {

    border-bottom: 2px solid var(--about-me-work-border);
    flex-basis: 100%;
    text-align: center;
    border-right: none;
    
    
  }
}



  
